<a href="https://colab.research.google.com/github/elyorbek8/my_SQLite_start/blob/main/data_processing_sqlite_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Converting Pandas DataFrame to SQL database

In [33]:
import pandas as pd
import sqlite3 as sql

In [42]:
#creating a new empty db
db = sql.connect("newdb.db")
cursor = db.cursor()

In [35]:
# uploading a df
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/refs/heads/main/Electricity_Production_By_Source.csv")
df.head()

,Entity,Code,Year,Electricity from coal (TWh),Electricity from gas (TWh),Electricity from hydro (TWh),Electricity from other renewables (TWh),Electricity from solar (TWh),Electricity from oil (TWh),Electricity from wind (TWh),Electricity from nuclear (TWh)
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

In [36]:
# processing df
df.drop(columns = ["Code"], inplace = True)

In [37]:
# shortening column names
df.columns = ['country', 'year', 'coal', 'gas', 'hydro', 'renewables', 'solar', 'oil', 'wind', 'nueclear']
df

,country,year,coal,gas,hydro,renewables,solar,oil,wind,nueclear
0,Afghanistan,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

In [39]:
# converting df to db
df.to_sql("electricity", db, if_exists='replace')

6241

In [43]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('electricity',)]

In [46]:
cursor.execute("SELECT * FROM electricity Limit 10;")
cursor.fetchall()

[(0, 'Afghanistan', 2000, 0.0, 0.155, 0.312, 0.0, 0.0, 0.0, 0.0, 0.0),
 (1, 'Afghanistan', 2001, 0.0, 0.094, 0.498, 0.0, 0.0, 0.0, 0.0, 0.0),
 (2, 'Afghanistan', 2002, 0.0, 0.132, 0.555, 0.0, 0.0, 0.0, 0.0, 0.0),
 (3, 'Afghanistan', 2003, 0.0, 0.309, 0.63, 0.0, 0.0, 0.0, 0.0, 0.0),
 (4, 'Afghanistan', 2004, 0.0, 0.329, 0.565, 0.0, 0.0, 0.0, 0.0, 0.0),
 (5, 'Afghanistan', 2005, 0.0, 0.344, 0.59, 0.0, 0.0, 0.0, 0.0, 0.0),
 (6, 'Afghanistan', 2006, 0.0, 0.2, 0.637, 0.0, 0.0, 0.0, 0.0, 0.0),
 (7, 'Afghanistan', 2007, 0.0, 0.198, 0.748, 0.0, 0.0, 0.0, 0.0, 0.0),
 (8, 'Afghanistan', 2008, 0.0, 0.186, 0.542, 0.0, 0.0, 0.0, 1e-05, 0.0),
 (9, 'Afghanistan', 2009, 0.0, 0.162, 0.776, 0.0, 0.0, 0.0, 0.0001, 0.0)]

In [49]:
pd.read_sql("SELECT * FROM electricity WHERE country = 'Uzbekistan';", db)

,index,country,year,coal,gas,hydro,renewables,solar,oil,wind,nueclear
0,5964,Uzbekistan,2000,11.602405,25.523451,5.817000,0.0,0.000000,1.380143,0.0,0.0
1,5965,Uzbekistan,2001,11.766320,25.884038,5.899000,0.0,0.000000,1.399642,0.0,0.0
2,5966,Uzbekistan,2002,12.214374,26.869686,6.124000,0.0,0.000000,1.452939,0.0,0.0
3,5967,Uzbekistan,2003,11.833513,26.031852,7.544000,0.0,0.000000,1.407634,0.0,0.0
4,5968,Uzbekistan,2004,11.595776,25.508869,8.920000,0.0,0.000000,1.379355,0.0,0.0
5,5969,Uzbekistan,2005,11.490919,25.278199,8.838000,0.0,0.000000,1.366882,0.0,0.0
6,5970,Uzbekistan,2006,11.827788,26.019258,4.653000,0.0,0.000000,1.406953,0.0,0.0
7,5971,Uzbekistan,2007,12.051665,26.511751,4.610000,0.0,0.000000,1.433584,0.0,0.0
8,5972,Uzbekistan,2008,10.774273,23.701692,4.443000,0.0,0.000000,1.281634,0.0,0.0
9,5973,Uzbekistan,2009,9.084625,28.017530,6.418000,0.0,0.000000,1.080645,0.0,0.0
10,5974,Uzbekistan,2010,9.792027,30.199200,8.110000,0.0,0.000000,1.164793,0.0,0.0
11,5975,Uzbekistan,2011,10.534094,32.487781,5.646000,0.0,0.000000,1.253064,0.0,0.0
12,5976,Uzbekistan,2012,10.365016,31.966333,6.586000,0.0,0.000000,1.232952,0.0,0.0
13,5977,Uzbekistan,2013,10.939346,33.737603,5.647000,0.0,0.001996,1.301270,0.0,0.0
14,5978,Uzbekistan,2014,11.112674,34.272157,6.014000,0.0,0.002046,1.321888,0.0,0.0
15,5979,Uzbekistan,2015,10.519789,35.780629,6.998000,0.0,0.002176,1.251363,0.0,0.0
16,5980,Uzbekistan,2016,10.783891,36.678911,7.254000,0.0,0.004643,1.282778,0.0,0.0
17,5981,Uzbekistan,2017,10.998707,37.409561,8.343000,0.0,0.006290,1.308332,0.0,0.0
18,5982,Uzbekistan,2018,11.853192,40.315893,5.838030,0.0,0.006827,1.409975,0.0,0.0
19,5983,Uzbekistan,2019,12.297660,41.827647,5.451373,0.0,0.006827,1.462846,0.0,0.0
20,5984,Uzbekistan,1985,NaN,NaN,5.431443,0.0,0.000000,NaN,0.0,0.0
21,5985,Uzbekistan,1986,NaN,NaN,4.618273,0.0,0.000000,NaN,0.0,0.0
22,5986,Uzbekistan,1987,NaN,NaN,6.770521,0.0,0.000000,NaN,0.0,0.0
23,5987,Uzbekistan,1988,NaN,NaN,7.163847,0.0,0.000000,NaN,0.0,0.0
24,5988,Uzbekistan,1989,NaN,NaN,5.502153,0.0,0.000000,NaN,0.0,0.0
25,5989,Uzbekistan,1990,NaN,NaN,6.648000,0.0,0.000000,NaN,0.0,0.0
26,5990,Uzbekistan,1991,NaN,NaN,6.031000,0.0,0.000000,NaN,0.0,0.0
27,5991,Uzbekistan,1992,NaN,NaN,6.281000,0.0,0.000000,NaN,0.0,0.0
28,5992,Uzbekistan,1993,NaN,NaN,7.358000,0.0,0.000000,NaN,0.0,0.0
29,5993,Uzbekistan,1994,NaN,NaN,7.156000,0.0,0.000000,NaN,0.0,0.0
30,5994,Uzbekistan,1995,NaN,NaN,6.188000,0.0,0.000000,NaN,0.0,0.0
31,5995,Uzbekistan,1996,NaN,NaN,6.525000,0.0,0.000000,NaN,0.0,0.0
32,5996,Uzbekistan,1997,NaN,NaN,5.777000,0.0,0.000000,NaN,0.0,0.0
33,5997,Uzbekistan,1998,NaN,NaN,5.758000,0.0,0.000000,NaN,0.0,0.0
34,5998,Uzbekistan,1999,NaN,NaN,5.692000,0.0,0.000000,NaN,0.0,0.0

#Creating a db table

In [52]:
# creating a table
query = """
CREATE TABLE IF NOT EXISTS animals (
  id INT PRIMARY KEY,
  name VARCHAR(100),
  age INT,
  habitat VARCHAR(100)
);
"""
cursor.execute(query)
db.commit()

In [53]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('electricity',), ('animals',)]

In [55]:
cursor.execute("PRAGMA table_info(animals)")
cursor.fetchall()

[(0, 'id', 'INT', 0, None, 1),
 (1, 'name', 'VARCHAR(100)', 0, None, 0),
 (2, 'age', 'INT', 0, None, 0),
 (3, 'habitat', 'VARCHAR(100)', 0, None, 0)]

In [56]:
# inserting values into a table
query = """
INSERT INTO animals (id, name, age, habitat)
VALUES
(1, 'Graffe', 7, 'Savanna'),
(2, 'Pengiun', 3, 'Antarctica'),
(3, 'Wolf', 4, 'Mountain');
"""

cursor.execute(query)
db.commit()

In [58]:
cursor.execute("SELECT * FROM animals;")
cursor.fetchall()

[(1, 'Graffe', 7, 'Savanna'), (2, 'Pengiun', 3, 'Antarctica'), (3, 'Wolf', 4, 'Mountain')]

In [61]:
df = pd.read_sql("SELECT * FROM animals;", db, index_col= 'id')
df

       name  age     habitat
id
1    Graffe    7     Savanna
2   Pengiun    3  Antarctica
3      Wolf    4    Mountain

In [67]:
cursor.execute("INSERT INTO animals (id, name) VALUES (4, 'Tiger');")
db.commit()

In [69]:
# updating values
cursor.execute("UPDATE animals SET age = 6, habitat = 'Jungle' WHERE id = 4")
db.commit()

In [70]:
cursor.execute("SELECT * FROM animals;")
cursor.fetchall()

[(1, 'Graffe', 7, 'Savanna'),
 (2, 'Pengiun', 3, 'Antarctica'),
 (3, 'Wolf', 4, 'Mountain'),
 (4, 'Tiger', 6, 'Jungle')]

In [72]:
# deleting a particular value
cursor.execute("DELETE FROM animals WHERE name =  'Wolf';")
db.commit()

In [73]:
cursor.execute("SELECT * FROM animals;")
cursor.fetchall()

[(1, 'Graffe', 7, 'Savanna'),
 (2, 'Pengiun', 3, 'Antarctica'),
 (4, 'Tiger', 6, 'Jungle')]

In [80]:
query = """
CREATE TABLE IF NOT EXISTS students (
  id INT PRIMARY KEY,
  name VARCHAR(100),
  age INT,
  major VARCHAR(100)
);
"""
cursor.execute(query)
db.commit()

In [81]:
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
cursor.fetchall()

[('electricity',), ('animals',), ('students',)]

In [82]:
# deleting a table
cursor.execute("DROP TABLE students;")
db.commit()

In [83]:
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
cursor.fetchall()

[('electricity',), ('animals',)]

In [84]:
db.close()